apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: default
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80       # internal cluster port
      targetPort: 80 # container port
  type: NodePort   # ClusterIP, NodePort, or LoadBalancer
